body{
    background: #efefef;
}
.main{
    margin:30px;
    background-color: white;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.btn-my_info{
    float: left;
    margin-bottom: 15px;
}

.avatar-height{
    height: 38px;
    width: 38px;
}

.section{
    margin-top: 15px;
}
